<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div *ngFor="let order of orders">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Order</b> - {{order._id | truncate:5}}
        </div>
        <div class="panel-body">
          <div class="col-sm-6">
            <p>
              <b>Client </b> {{order.buyer.username}}</p>
            <p>
              <b>Total Amount </b> {{order.totalPrice | number:'1.2'}} &euro;</p>
          </div>
          <div class="col-sm-6">
            <p>
              <b>Seller </b>{{order.producer.username}}</p>
          </div>
        </div>
        <div class="panel-footer">
          <div class="panel-body" *ngFor="let product of order.products">
            <div class="col-sm-6">
              <p>
                <b>Product </b>{{product.name}}</p>
            </div>
            <div class="col-sm-6">
              <p>
                <b>Price </b>{{product.price | number:'1.2'}} &euro;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <a [routerLink]="['/products']" class="btn bt">Back to products</a>
  </div>
</div>
