<video poster="backimg.jpg" id="bgvid" playsinline autoplay muted loop>
  <source src="assets/home-video.mp4" type="video/webm">
</video>

<div class="text">
  <h1>The best price just for the best product.</h1>
  <p>
    Farmers' markets are one of the oldest forms of direct marketing by small 
    farmers. From the traditional "mercados" in the Peruvian Andes to the 
    unique street markets in Asia, growers all over the world gather weekly 
    to sell their produce directly to the public. In the last decade they 
    have become a favorite marketing method for many farmers throughout 
    the United States, and a weekly ritual for many shoppers.
  </p>
</div>