<div *ngIf="!user">
  <h2>No user logged in</h2>
</div>

<div *ngIf="user">
  <div class="row user-perf">
    <div class="col-sm-2">
      <img class="img-circle" src="{{user.image}}" alt="Profile image not found" height="150" width="150">
    </div>
    <div class="col-sm-9">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h2>User 
            <b>{{user.username}}</b>
          </h2>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-4">
                <p *ngIf="user.firstName && user.lastName"><b>Name</b> {{user.firstName}} {{user.lastName}}</p>
                <p *ngIf="!user.firstName && !user.lastName"><b>Name</b> Not specified</p>
                <p *ngIf="user.phoneNumber"><b>Phone Number</b> {{user.phoneNumber}}</p>
                <p *ngIf="!user.phoneNumber"><b>Phone Number</b> Not specified</p>
                <p *ngIf="user.productionType"><b>Production Type</b> {{user.productionType}}</p>
                <p *ngIf="!user.productionType"><b>Production Type</b> Not specified</p>                
            </div>
            <div class="col-sm-4">
              <p *ngIf="user.email"><b>Email</b> {{user.email}}</p>
              <p *ngIf="!user.email"><b>Email</b> Not specified</p>
              <p *ngIf="user.userType"><b>User Type</b> {{user.userType}}</p>
              <p *ngIf="!user.userType"><b>User Type</b> Not specified</p>
              <p *ngIf="user.seasonStarts"><b>Season Starts</b> {{user.seasonStarts}}</p>
              <p *ngIf="!user.seasonStarts"><b>Season Starts</b> Not specified</p>
            </div>
            <div class="col-sm-4">
              <p *ngIf="user.address"><b>Address </b> {{user.address}}</p>
              <p *ngIf="!user.address"><b>Address </b> Not specified</p>
              <p *ngIf="user.companyName"><b>Company Name</b> {{user.companyName}}</p>
              <p *ngIf="!user.companyName"><b>Company Name</b> Not specified</p>
              <p *ngIf="user.seasonEnds"><b>Season Ends</b> {{user.seasonEnd}}</p>
              <p *ngIf="!user.seasonEnds"><b>Season Ends</b> Not specified</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-primary prof-btn" [routerLink]="['/user', 'profile']">User profile</a>
    </div>
  </div>
</div>
